body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.profile-img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 10px;
}

header {
    text-align: center;
    background: #A0C3D2;
    color: white;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background: #6faacd;
}

nav a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
}

nav a:hover {
    background: #220247;
}

section {
    padding: 20px;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    background: #ddd;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
}

/* Dark Mode */
.dark {
    background: #121212;
    color: white;
}

/* Responsive */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    ul {
        flex-direction: column;
    }
}